#backg{font-size:70px;
    color:rebeccapurple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: image(src="https://www.bing.com/images/search?view=detailV2&ccid=mCIKOuqq&id=DBD87F4A52FBCCB2755659D972F3D991F92B5C8D&thid=OIP.mCIKOuqqitRvuiThUfx8xAHaD2&mediaurl=http%3a%2f%2ffr.cdn.v5.futura-sciences.com%2fbuilds%2fimages%2fthumbs%2fc%2fcc0b32acd9_fs-01-13668997695_1b11821209_k.jpg&exph=948&expw=1820&q=la+nature&simid=608021059248130647&selectedIndex=2&ajaxhist=0"
    width="100");} 
